<!-- <html xmlns="http://www.w3.org/1999/xhtml">  -->
<!DOCTYPE html>
<html>
<head>
	<title>main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style type="text/css">
        .a
        {
          position:relative;
          z-index:9;
          /*position:fixed;*/
        }
    </style>

</head>
<body>
	<div id="main">
    	<h1><b>Controller Information</b></h1>

	    <div class="a">
    	        <div style="width: 30%; height: 20%; border:5px double black; padding:1%; position:relative; left:10%; float: left;  top: 40px;">
        	    <div style="font-size:30px; position:relative;">
        	    	<p>controller狀態</p>
        	    	<div style="width:100px; height:100px; background-color:white; border-radius:999em; border:solid 2px; position:relative; left: 35%; top: 20px; margin-bottom: 3%;">
						<!-- 狀態顯示 -->
						{% if status == "work" %}
                        <!-- 綠V -->
						<i class="fas fa-check" style="font-size:80px; color:green; position:relative; left:8%; top:10%;"></i>
						{% elif status == "fail" %}
                        <!-- 紅X -->
						<i class="fas fa-times" style="font-size:80px; color:red; position:relative; left:22%; top:10%;"></i>
						{% endif %}
                    	</div>
        	    </div>
        	<br>
		</div>
        	<div class="block" style="width:30%; height:20%; border:5px double black; padding: 1%;  position:relative; left:20%; top: 40px; float:left;">
        	    <span style="font-size:30px;">
        			已上線AP數量: {{ ap }}
        			<br>
        			<br>
        			<br>
        			使用者數量: {{ user }}
        	    </span>
        	</div>
            </div>
	    <!--graph-->
            <div style="top: 10%;  padding:1px 16px; width: 100%; background-color: #ffffff; float: left; margin-top:2%;" id="main_chart">
		<div class="wrapper" style="max-width: 100%; margin: 3%;">
		    <h1>登入人數變化</h1>
		    <canvas id="myChart" style="width: 800px; height: 450px;"></canvas>
		</div>
	    </div>
	    <script>
		// Our labels along the x-axis
		var time= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14 ,15 ,16 ,17 ,18 ,19 ,20 ,21 ,22, 23, 24];
		// For drawing the lines
		var count={{ graph_data }};
		
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: time,
				datasets: [{ 
					data: count,
					label: "人數",
					borderColor: "#3e95cd",
					fill: false
				}]
			}
		});
	    </script>

        </div>
</body>
</html>



