<!-- <html xmlns="http://www.w3.org/1999/xhtml">  -->
<!DOCTYPE html>
<html>
<head>
	<title>main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style type="text/css">
        .a
        {
          position:relative;
          z-index:9;
          /*position:fixed;*/
        }
    </style>

</head>
<body>
	<div id="main">
    	<h1><b>Controller Information</b></h1>

	    <div class="a" style="display:inline-block; width:30%; float:left;">
			<div style="width: 100%; height: 20%; border:5px double black; padding:1%; position:relative; left:10%; top: 50px;">
        	    <div style="font-size:30px; position:relative;">
        	    	<p>controller狀態</p>
        	    	<div style="width:100px; height:100px; background-color:white; border-radius:999em; border:solid 2px; position:relative; left: 35%; top: 20px; margin-bottom: 3%;">
						<!-- 狀態顯示 -->
						{% if status == "work" %}
                        <!-- 綠V -->
						<i class="fas fa-check" style="font-size:80px; color:green; position:relative; left:8%; top:10%;"></i>
						{% elif status == "fail" %}
                        <!-- 紅X -->
						<i class="fas fa-times" style="font-size:80px; color:red; position:relative; left:22%; top:10%;"></i>
						{% endif %}
                    	</div>
        	    </div>
        	<br>
		</div>
		<div class="block" style="width:100%; height:20%; border:5px double black; padding: 1%;  position:relative; left:10%; top: 110px;">
        	    <span style="font-size:30px;">
        			已上線AP數量: {{ ap }}
        			<br>
        			<br>
        			<br>
        			使用者數量: {{ user }}
        	    </span>
        	</div>
            </div>
	    <!--graph-->
            <div style="display: inline-block; width:65%; height:100%; margin-left:5%; margin-top:2%;" id="main_chart">
				<div class="wrapper" style="margin: 3%;">
					<h1><font face="標楷體">登入人數變化(人數/小時)</font></h1>
					<canvas id="myChart" width="760px" height="400px" style="width: 760px; height: 400px;"></canvas>
		</div>
	    </div>
	    <script>
		// Our labels along the x-axis
		var time= [24, 23, 22, 21 ,20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1];
		// For drawing the lines
		var count={{ graph_data }};
		
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: time,
				datasets: [{ 
					data: count,
					label: "人數",
					borderColor: "#3e95cd",
					fill: false
				}]
			}
		});
	    </script>

        </div>
</body>
</html>



